@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


:root{
    --base: #FBFF00;
    --spacing: 10px;
    --blur: 10px;
}

html{
    background: linear-gradient(to right, #000428, #004e92);
    box-sizing: border-box;
}

h1{
    text-align: center;
    color:whitesmoke;
    max-width: 500px;
    margin: auto;
    display: block;
    padding: 1rem;
    font-family: 'Cinzel Decorative';
    text-transform: capitalize;
}

span{
    color: var(--base);
}

.control{
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    display: block;
    font-family: 'Bodoni Moda';
    text-transform: uppercase;
    text-shadow: 2px 2px 2xp rgb(147, 184, 240);
}

img{
    max-width: 500px;
    margin: auto;
    display: block;
    height: 400px;
    width: 500px;
    filter: blur(var(--blur));
    padding: var(--spacing);
    background: var(--base);
    border: 5px solid blue;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px blue;
}
